@import url(https://fonts.googleapis.com/css?family=Dosis:400,700);
* {
  box-sizing: border-box;
}
.animatebtn{
	color: white;
  /* margin-top: 50%; */
  z-index: 30;
  position: relative;
}
.player1 {
  position: absolute;
  width: 30%;
}
.player1:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.record {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70%;
  height: 70%;
  background-color: #363636;
  /* background: linear-gradient(to right, #459fee 10%, #56CDD3 41%, #56CDD3 61%, #459fee 100%); */
  background: linear-gradient(to right, #f15154 10%, #FBCB27 41%, #FBCB27 61%, #eb595c 100%);
  border-radius: 100%;
  box-shadow: inset #030303 0 0 0 1px, inset rgba(255, 255, 255, 0.3) 0 0 0 2px;
  transform: rotate(0) translateZ(0);
  background: linear-gradient(
    to right,
    #191919 10%,
    #323232 41%,
    #191919 61%,
    #323232 100%
  );
}
.record::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 100%;
  }
.record:after {
  width: 48%;
  height: 48%;
  /* background-color:rgba(255, 255, 255, 0.4); */
  background:tomato;

  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 0 2px 3px;
  transform: rotate(5deg);
}

.record .label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 36%;
  height: 36%;
  padding: 4.5% 6%;
  background-color: transparent;
  /* background: repeating-linear-gradient(-45deg, #56cdd3, #56cdd3 1px, #56cdd3 1px, #a3ecec 3px); */
  text-align: center;
  border-radius: 100%;
  z-index: 2;
}


.spindle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30%;
  height: 30%;
  background-color: wheat;
  border : 10px solid #000000;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 12px 2px;
  transform: scale(0.2);
  z-index: 3;
}

.animate {
		animation: rotation 2s infinite linear;
		-webkit-animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


  
  .image {
	  position: relative;
    margin-top:-25%;
    margin-left: 14%;
    width: 100%;
    transform-origin: 50% -30px -100px;
    transform-style: preserve-3D;
    transition: transform-origin .2s ease-in-out, transform 1.2s ease-in-out;
  }
.needle {
	z-index: 20;
  transform: rotate(30deg);
}
@media only screen and (max-width:1200px){
  .image {
    margin-left: 23%;
  }
  .player1 {
    width: 35%;
    margin-left: -5%;
  }
  .image {
    margin-top:-25%;
    margin-left: 14%;
    width: 115%;
  }
}
@media only screen and (max-width:990px){
  .image {
    margin-left: 14%;
  }
  .player1 {
    width: 39%;
    margin-left: -8%;
  }
  .image {
    margin-top:-25%;
    margin-left: 10%;
    width: 130%;
  }
  }
  @media only screen and (max-width:930px){
    .image {
      margin-left: 14%;
    }
    .player1 {
      width: 39%;
      margin-left: -8%;
    }
    .image {
      margin-top:-30%;
      margin-left: 5%;
      width: 120%;
    }
}
@media only screen and (max-width:860px){
  .image {
    margin-left: 20%;
  }
  .player1 {
    width: 47%;
    margin-left: -8%;
  }
  .image {
    margin-top:-30%;
    margin-left: 10%;
    width: 140%;
  }
}
@media only screen and (max-width:770px){
  .image {
    margin-left: auto;
  }
  .player1 {
    width: 53%;
    margin-left: 8%;
    margin-top: -10%;
  }
  .image {
    margin-top:-32%;
    margin-left: 27%;
    width: 80%;
  }
}
@media only screen and (max-width:600px){
  .player1 {
    width: 62%;
    margin-left: 5%;
    margin-top: -10%;
  }
  .image {
    margin-top:-30%;
    margin-left: 32%;
    width: 85%;
  }
}
@media only screen and (max-width:500px){
  .player1 {
    width: 62%;
    margin-left: 5%;
    margin-top: -10%;
  }
  .image {
    margin-top:-30%;
    margin-left: 35%;
    width: 90%;
  }
}
@media only screen and (max-width:490px){
  .player1 {
    width: 62%;
    margin-left: 12%;
    margin-top: -10%;
  }
  .image {
    margin-top:-32%;
    margin-left: 32%;
    width: 90%;
  }
}
@media only screen and (max-width:400px){
  .player1 {
    width: 70%;
    margin-left: 6%;
    margin-top: -10%;
  }
  .image {
    margin-top:-32%;
    margin-left: 33%;
    width: 97%;
  }
}
@media only screen and (max-width:350px){
  .player1 {
    width: 70%;
    margin-left: 6%;
    margin-top: -10%;
  }
  .image {
    margin-top:-32%;
    margin-left: 33%;
    width: 100%;
  }
  .needle {
    transform: rotate(25deg);
  }
}
@media only screen and (max-width:320px){
  .player1 {
    width: 80%;
    margin-left: -0%;
    margin-top: -21%;
  }
  .image {
    margin-top:-52%;
    margin-left: 23%;
    width: 110%;
  }
  .needle {
    transform: rotate(22deg);
  }
}
@media only screen and (max-width:300px){
  .player1 {
    width: 75%;
    margin-left: -0%;
    margin-top: -21%;
  }
  .image {
    margin-top:-59%;
    margin-left: 17%;
    width:115%;
  }
  .needle {
    transform: rotate(22deg);
  }
}
@media only screen and (max-width:250px){
  .player1 {
    width: 75%;
    margin-left: -0%;
    margin-top: -21%;
  }
  .image {
    margin-top:-59%;
    margin-left: 20%;
    width:125%;
  }
  .needle {
    transform: rotate(20deg);
  }
}
@media only screen and (max-width:200px){
  .player1 {
    display: none;
  }
  .image {
    display: none;
  }
  .needle {
    transform: rotate(20deg);
  }
}
/* @media only screen and (max-width:660px){
  .image{
    top: -6%;
    left:5%;
    width: 32%;
  }
  .needle {
    transform: rotate(20deg);
  }
} */
/* @media only screen and (max-width:518px){
  .image{
    top: -4.5%;
    left:5%;
    width: 32%;
  }
  .needle {
    transform: rotate(18deg);
  }
}
@media only screen and (max-width:425px){
  .image{
    top: -3.8%;
    left:5.5%;
    width: 32%;
  }
  .needle {
    transform: rotate(18deg);
  }
}
@media only screen and (max-width:363px){
  .image{
    top: -3.2%;
    left:5.5%;
    width: 32%;
  }
}
@media only screen and (max-width:298px){
  .image{
    top: -2.5%;
    left:5.5%;
    width: 32%;
  }
}
@media only screen and (max-width:222px){
  .image{
    top: -2%;
    left:5.5%;
    width: 32%;
  }
}



 */
