#div4{
    margin-top: 10%;
    height: auto;
    width: 80%;
    background-color:none;
    border-style:solid;
    border-color:transparent;
    border-radius:5%;
    float:left;
    color:#fff;
    background-color: #1b1c1e;
    overflow: auto;
}
     #current_logo{
      width:45%;
        display: block;
        margin-top:10%;
        margin-left: auto;
        margin-right: auto;
     }
     
     #current_logo_title{
       text-align:center;
       margin-left: auto;
        margin-right: auto;
      font-size:200%; 
      color: #f6d365;
     } 
     
     #current_img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:55%;
        height: 11vh; 
     }
     
     #curr_name ,#artist_name{
          text-align:center;
       margin-left: auto;
        margin-right: auto;
       font-size:150%;
     }
     #artist_name {
       color: #f6d365;
     }
     

    @media only screen and (max-width : 929px){
        #div4{
            display:none;
        }
    }