.form {
   z-index: 999;
   padding-left: 2rem;
   padding-top: 10%;
   margin:auto;
   width: 50%;
}
.inputField > input, .logininput {
   z-index: 999;
   height: 70px;
   border-radius: 10px;
   outline: none;
   width: 100%;
   padding-left: 5%;
   font-size: large;
   margin-top: 3vh;
   background-color: #0D0D0D;
   /* border: 2px solid #322D2D; */
   box-shadow:
   #0cfaee 0px 0px 2px,
   #03a2ad 4px 4px 8px,
   #0981f1 -4px -4px 8px;
   color: whitesmoke;
   caret-color: red;
   font-weight: 500;
   letter-spacing: 0.4px;
}
.inputField > input::placeholder{
   color:#908E8E;
   font-size: 16px;
   font-family: 'Poppins', sans-serif;
}
.button{
    height:70px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(#0981f1, #03a2ad);
    transition: 0.25s;
    width: 100%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10%;
}
.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #0981f1;
  transform: translateY(-0.25em);
}
.seperator__text {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 7%;
}

.seperator__text > hr {
   width: 100%;
   background-color: white;
   color: white;
   border: none;
   height: .5px;
}

.seperator__text > span {
   width: 50px;
   padding: 0px 20px;
   color: grey;
   box-sizing: border-box;
}
.socialButton {
   width: 100%;
   margin: auto;
   height: 65px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   background-color: #0D0D0D;
   border: 2px solid #322D2D;
   /* margin: 0 10px; */
   padding: 0 0.5rem;
   color:#908E8E;
}
.socialButton > img {
   width: 35px;
   border-radius: 50%;
   margin: .5rem;
}
.socialButton p {
   text-align: center;
   padding-top: .8rem;
   margin-left: .4rem;
}
@media only screen and (max-width:1000px){
   .form{
      position: absolute;
      margin-left: 20%;
      top: 45%;
   }
}

@media only screen and (max-width:750px){
   .form{
      width: 79%;
      margin-left: 8%;
   }
}
@media only screen and (max-width:500px){
   .form{
      width: 83%;
      margin-left: 3%;
   }
}