.musicList__card__container {
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    align-items: center;
}
.musicList h1 {
    color:#56CDD3;
    font-size: 4rem !important;
}
.para {
    /* writing-mode: vertical-lr; */
    /* position: relative; */
    /* top: 25rem; */
    color:#56CDD3;
}
.musicList {
    padding: 0 4rem;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    padding-bottom: 8rem;
}